.container {
    max-width: 900px!important;

}


.container h1 {
    text-align: center!important;
    margin-top: 20px;
}

.fundo {
    height: 400px;
    width: 100%;
    background-image: url('../image/22.jpg');
    object-fit: contain;
    background-position: center center;
    background-repeat: no-repeat;
}

.footer {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
}

.segundo {
    font-size: 25px!important;
}

@media (max-width: 600px) {
    .seg {
        display: flex;
        flex-direction: column-reverse;
    }
}